/**/

* {
  margin: 0;
}
body{
 background-image: url(../css/a1.jpg);
 background-size: 100%;
 overflow-x: hidden;
 margin-top: 10px;
}
@keyframes bounce {
  0%, 20%, 60%, 100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }
  40%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);

  }

  80%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);

  }
}

h1{
  font-size: 37px;
  font-family: myFirstFont;
  text-align: center;
  margin-top: 20px;
}

@font-face {
  font-family: myFirstFont;
  src: url("../css/fonts/Plumpfull.ttf");

  
}

.b1{
animation: bounce 2s;
padding: 100px;
margin-top:150px;
margin-left: 30px; 
background-size: 105%;
font-family: myFirstFont;
}


